/*Google Fonts*/
  @import 'https://fonts.googleapis.com/css?family=Fruktur';

/*-Style-*/
#navbar img{
  display: block;
  margin: auto;}
#navbar #menu{
  font-family: 'Fruktur',sans-serif;}
#navbar #menu ul{
  list-style-type: none;
  margin: 0;padding: 0;
  overflow: hidden;
  background-color: #fff;}
#navbar #menu li {
  float: left;}
#navbar #menu li a:hover {
  background-color: #CD5C5C;
  color:#fff;}
#navbar #menu a {
  color: #333;
  display: block;
  text-align: center;text-decoration: none;
  padding: 14px 6px;}
#navbar #menu .active {
  color: #CD5C5C;}

/*---Layout Settings ---*/

/* For mobile phones: */
  [class*="col-"] {
      width: 100%;}
  body { font-size:90%;}

/*Tablet Screens*/
  @media only screen and (min-width: 600px) {
  body { font-size:100%;}
  #navbar img{width:30%;float:left;}
  #navbar #menu{padding-top: 110px;height: 62px;}
  #navbar #menu a{padding: 14px 20px;}

/*Desktop Screens*/
  @media only screen and (min-width: 800px) {
  body { font-size:100%;}
  #navbar img{width:15%;float:left;}
  #navbar #menu{padding-top: 90px;height: 58px;}
  #navbar #menu a{padding: 14px 26px;}
  .col-1{width: 100%;}
  .col-2{width:85%;}
  .col-5{width: 15%;}
}
