@import url('https://fonts.googleapis.com/css?family=Sansita:700');

html,body{
    overflow:hidden;
}
#intro{
  background:#514C46;
  height:100vh;
}
#intro .jumbo{
  height:90vh;
}
#intro .navigation{
  height:10vh;
  background:#fff;
}
#about{
  background:#AB9477;
}
#work{
  background:#507E80;
}
#contacts{
  background:#A8B6AD;
}
