@import url('https://fonts.googleapis.com/css?family=Sansita:700');

html,body{
    overflow:hidden;
}
#intro,#about,#work{
  height:100vh;
}
#intro{
  background:#514C46;
}
#intro .jumbo{
  height:90vh;
}
#intro .navigation{
  height:6vh;
  width:100%;
  background:#fff;
}
.nav-pills > li {
 	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
}
.nav > li > a{
   font-family: 'Sansita', sans-serif;
   color:#fff;
}
.nav-pills > .active > a,{
    
}
.nav-pills > .active > a:hover {

}
#about{
  background:#AB9477;
}
#work{
  background:#507E80;
}
#contacts{
  background:#A8B6AD;
  height:500px;
}
