@import url('https://fonts.googleapis.com/css?family=Sansita:700');

html,body{
    overflow:hidden;
}
#home,#about,#work{
  height:100vh;
}
#home{
  background:#514C46;
}
#home .jumbo{
  height:90vh;
}
.nav-pills{
    background:#fff;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
}
.nav > li > a{
   font-family: 'Sansita', sans-serif;
   color:#000;
   font-size:1em;
}
.nav-pills > .active > a,
.nav-pills > a:hover {
}
#about{
  background:#AB9477;
}
#work{
  background:#507E80;
}
#contacts{
  background:#A8B6AD;
  height:500px;
}
